# Python generics
__pycache__/
target/
.mypy_cache/
.pytest_cache/
.coverage
dist/

# Project
personal/
assets/images/*
!assets/images/logo.png
{{cookiecutter.project_name}}.log
# {{cookiecutter.project_name}}.yaml
